body{
    background-color: lightcoral;
}

#score{
    font-size: 40px;
    font-weight: bold;
    margin-left:50px ;
}

#timer{
    font-size: 40px;
    font-weight: bold;
    float:right;
    margin-right:50px ;
}

#sketchtobedrawn{
    color:blue;
}

h1{
    background-color: bisque;
    color: lightcoral;
}

#show_sketch{
    float:right;
    margin-right: 20px;
    margin-top: 3px;
}